@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

.container {
	height: 75%;
	width: 70%;
	right: 250px;
	max-width: 100%;
	background-color: white;
	box-shadow: 8px 8px 20px rgb(128, 128, 128);
	position: absolute;
	overflow: hidden;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	right: 28%;
	top: 120px
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#array-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	padding: 10px;
	flex-wrap: wrap;
	height: 85%;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: auto;
}

#array-container .box {
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	height: 10%;
	width: 5%;
	font-size: 100%;
	background-color: white;
	color: red;
	border-radius: 10px;
	border: 1px solid red;
	cursor: pointer;
	transition: 0.2s;
	opacity: 0;
	margin-right: 1%;
	box-sizing: border-box;
	position: absolute;
}

#second-array-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	padding: 10px;
	flex-wrap: wrap;
	height: 15%;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 0;
}



#second-array-container .box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 5%;
	font-size: 100%;
	background-color: white;
	color: red;
	border-radius: 10px;
	border: 1px solid red;
	cursor: pointer;
	transition: 0.2s;
	opacity: 0;
	margin-right: 1%;
}

.workings-container {
	height: 75%;
	width: 25%;
	/* Adjust the width as needed */
	max-width: 100%;
	background-color: white;
	box-shadow: 8px 8px 20px rgb(128, 128, 128);
	position: absolute;
	top: 120px;
	right: 20px;
	/* Adjust the right position as needed */
	overflow: hidden;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 0 20px;
	align-items: center;
}

.workings-container p {
	color: #333;
	/* Adjust the desired font color */
	font-size: 0.8vw;
	/* Adjust the desired font size */
	text-align: justify;
}

.workings-container mark {
	background-color: yellowgreen;
	color: black;
}

.reset-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	box-sizing: border-box;
	bottom: 20px;
	width: 100%;
}

.spawn-button {
	padding: 15px 30px;
	font-size: 18px;
	background-color: #3366ff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.spawn-button:hover {
	background-color: #3355cc;
}

.reset-button {
	position: absolute;
	bottom: 0px;
	right: 30px;
	padding: 15px 30px;
	font-size: 1vw;
	text-align: center;
	background-color: #3366ff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 30%;
}

.hash-button {
	display: inline-block;
	/* padding: 8px 16px; */
	margin: 1%;
	font-size: 1.2vw;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	/* border-radius: 4px; */
	cursor: pointer;
	text-align: center;
	width: 80%;
	height: 10%;

}

.hash-button:hover {
	background-color: #45a049;
}


#operations-buttons-container {
	box-sizing: border-box;
	height: 10%;
	position: absolute;
	top: 3%;
	align-items: center;
}

#operations-buttons-container .operations-button {
	background-color: #3366ff;
	margin: 3%;
	color: #fff;
	border: none;
	cursor: pointer;
	text-align: center;
	font: 1vw;
	width: 25%;
}

#operations-buttons-container .text-box {
	/* box-sizing: border-box; */
	/* margin: 5%; */
	width: 100%;
}